body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.main{
    min-height: 100vh;
}

/* top section */
.title-container {
    height: 200px;
    background: #F00000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

@media (max-width: 500px) {
    .title {
        font-size: 3rem;
    }
} 

/* middle section */
.middle-container {
    padding: 5% 15%;
}

@media (max-width: 800px) {
    .middle-container {
        padding: 5% 5%;
    }
} 

.input-col {
    padding:5% 1%;
    text-align: left;
}

.course-map-col-container {
    min-height: 600px;
}

.course-map-col {
    padding: 5% 1%;
    height: 100%;
}

#course-map-iframe {
    height: 100%;
    width: 100%;
}

/* at the beginning, don't display the borders*/
.no-border {
    border: none;
}
/* once user submitted something, display the borders of the iframe*/
.display-course-map-iframe {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* bottom section */
#bottom {
    margin:0;
    padding:2% 20%;
    background-color: 	#404040;
    color: #D0D0D0;
}

@media (max-width: 800px) {
    #bottom {
        padding: 5% 10%;
    }
} 

.bottom-hr {
    border: 1px solid #D0D0D0;
}

.p-align-left {
    text-align: left;
}